* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

@media screen and (max-width: 480px) {
  
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  
}

@media screen and (min-width: 1441px) {
  
}
